header {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 50px;
}

img {
    width: 250px;
}

h1, h3 {
    color: blueviolet;
}

h4 {
    color: rgb(97, 97, 97);
}

.resumeItems {
    width: 700px;
    color: rgb(97, 97, 97);
}